@charset "utf-8";
/* CSS Document */


@media screen and (max-width:1680px){
 .form-contain{   margin: 30px 24px 0 0;}

 .home-banner{ background-position: -120px top;}
}

@media screen and (max-width:1580px){

 .home-banner {
  background-position: -240px top;
 }
}

@media screen and (max-width:1460px){

 .home-banner {
  background-position: 70% top;
  background-size: 120% auto;
 }
}


@media screen and (max-width:1199px) {


 .new_bottomtextblock{ padding: 0px 0px 330px 0px;  background:url(../images/bd_new_homebottomblock.png) no-repeat center bottom; min-height:inherit; text-align: center;}

 .new_bottomtextblock h3{ text-align: center;}
 .new_bottomtextblock h3 label{ text-align: center;}

 .incrediblefeatures ul li:last-of-type{  float: none!important; padding-right: 0px!important; margin-left: auto!important; margin-right: auto!important; width: 100%;}

 .homesocialmwdiablock{ background:none; min-height:inherit; padding-left: 0px; text-align: center;}

 .bd_new_homeblock{ display: block; margin: 0 auto; max-width: 100%;}

 .homesocialmwdiablock h1{ text-align: center;}

 .homesocialmwdiablock_wrapper{ text-align: center; padding: 0 0 20px 0;}

 .top-menu {
  float: none;
  margin: 0 auto;
  width: 464px;
 }

 .form-contain .form-body{ width: 348px;}

 .newdeviderspan{ display: none;}

 .incrediblefeatures ul .clear{ display: none;}
 .maincontentdiv p{
  min-height: inherit;
 }
 .inlogo{ display:none;}
 .main-wrapper{ width:80%; margin:0 auto;}

 .top-contain{ background-image:none;  background-color:#121715; position:inherit; }

 .logo{ width:240px; float:none; margin:0 auto; }


 .top-right-part{ width:100%; float:none; margin:0 auto; padding-bottom:5px; overflow:hidden; padding-bottom:10px;}


 .top-icon{ width:240px; float:none; margin:0 auto; text-align:center; padding-top:20px; }

 .home-banner{ margin-top:0px;}

 .home-banner{ width:100%;   position:inherit;  overflow:hidden; margin-top:0px; background: none;}

 .home_new_banner2{ display: block; width: 100%;}

 .form-right-box{  float:none; width:100%; margin:0 auto;}

 .form-right-box .arrow-div{ display:none;}

 .form-right-box .box-text-part{ background-image:none; box-shadow:none; border:none; margin:0 auto; text-shadow:none; width:90%; padding:5%; display: block; border-radius: 0px;}

 .form-contain{ width:300px;  margin:25px auto;  float:none; margin-top: 0px; }
 .text-wrapper{ width:100%; margin-top:30px;}
 .text-wrapper h1{ text-align:center; line-height:30px;}

 .icon-div-contain ul li{
  width: 30%; margin-left: 1%; margin-right: 1%;
  display: inline-block;
  float: none;
  text-align: center;
  margin-bottom: 20px;
 }
 .icon-div-contain ul li:last-child{
  margin-bottom: 0px !important;
 }

 .text-body-contain{ background:url(../images/text-body2.png) no-repeat top center; background-size:420px; padding-top:260px; width:100%; height:auto; margin:35px 0;  }

 .text-body-contain h2{ text-align:center;}
 .text-body-contain .div-block{ float:none; background:#616161; width:96%; padding:2%; }
 .text-body-contain .div-block ul li{ float:none; width:100%; text-align:center;  background:url(../images/tick-icon.png) no-repeat center top; padding:28px 0 0px 0; margin:0 0 10px 0;}


 .box-div-wrapper .div-box{margin:0 10% 20px 10%;}

 #spach-div{ margin-left:10%;}

 .beto-contain .contain-text{ width:400px;}


 .stev-contain .contain-text2{ width:360px;}

 .footer-div .footer-logo{ width:240px; float:none; margin:0 auto;}

 .footer-div  .footer-menu{ width:100%; float:none; margin:20px auto;}

 .footer-div  .footer-copyright{ width:100%; float:none; margin:0px auto;}

 .footer-div  .footer-icon{ width:160px; float:none; margin:20px auto;}

 .inner-banner{ width:100%;  position:inherit; margin-top:0px; }


 .inner-body{ width:100%; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#414141; line-height:26px; text-align:center; }

 .inner-body h2{ font-family:Arial, Helvetica, sans-serif; font-size:28px; color:#262626; line-height:34px; padding-bottom:10px; text-align:center;}

 .package-wrapper .left-box{ width:51%; float:none; margin:0 auto; }

 .package-wrapper .right-box{ width:100%; margin:0 auto; margin-top:40px;}

 .package-wrapper .right-box .hedingbox{ width:100%; margin:0 auto;  background:url(../images/heding2.png) no-repeat center top; }

 .package-wrapper2 { margin-top:50px;}
 .package-wrapper2 .right2-box{ width:51%; float:none; margin:0 auto; }

 .package-wrapper2 .left2-box{ width:100%; margin:0 auto; margin-top:40px;}

 .package-wrapper2 .left2-box .hedingbox{ width:100%; margin:0 auto;  background:url(../images/heding2.png) no-repeat center top; }

 .contact-map{ width:488px; height:288px; float:none; box-shadow:0px 9px 20px #888; border:solid 2px #e8e8e8; float:none; margin:50px auto;}


 .contact-address{ float:none; font-size:18px; color:#3b3b3b; line-height:30px; margin:20px auto; text-align:center; width:100%;}
 .contact-address span{ padding:10px 0 0 0;}
 .incrediblefeatures ul li {
  width: 47.33%;
 }
 .incrediblefeatures ul li:nth-child(odd) {
  background-image: none;
  background-repeat: no-repeat;
  padding-right: 20px;
 }
 .incrediblefeatures ul li:nth-child(even) {
  /*background: url(../images/if_leftbg.png) no-repeat left -9px center;*/
  background-image: none;
  background-repeat: no-repeat;
  padding-left: 20px;
 }
 .incrediblefeatures ul li:nth-child(3n+1){
  padding-left: 0px;
 }
 .incrediblefeatures ul li {
  min-height: 409px
 }
}


@media screen and (max-width:1024px){


 .top-right-part{ width:100%; float:none; margin:0 auto; padding-bottom:5px; overflow:hidden; padding-bottom:30px;}

 .top-menu {
  float: none;
  margin: 0 auto 25px;
  width: 100%;
 }
}


 @media screen and (max-width:980px) {
  .incrediblefeatures ul li {
   min-height: 457px;
  }

 .incrediblefeatures ul li {
  width: 46.33%;
 }

 .beto-contain .contain-text{ width:50%;}

 .beto-contain{ background-size:45%;}


 .stev-contain .contain-text2{ width:50%;}

 .stev-contain{ background-size:45%;}
}



@media screen and (max-width:950px) {
 .box-div-wrapper .div-box{margin:0 8% 20px 8%;}

 #spach-div{ margin-left:8%;}

 .beto-contain .contain-text{ width:100%;}

 .beto-contain{ background-size:260px; padding-bottom:120px;}


 .stev-contain .contain-text2{ width:100%;}

 .stev-contain{ background-size:260px; padding-bottom:120px;}

 .stev-contain .contain-text2 .btn2{ float:right;}

}

@media screen and (max-width:940px) {
/* .form-right-box{  margin:0 auto; margin-top:380px;}*/
 .incrediblefeatures ul li {
  min-height: 482px;
 }
}

@media screen and (max-width:880px) {
/* .form-right-box{   margin:0 auto; margin-top:360px;}*/

}

@media screen and (max-width:840px) {
 .box-div-wrapper .div-box{margin:0 5% 20px 5%;}

 #spach-div{ margin-left:5%;}
}


@media screen and (max-width:820px) {
/* .form-right-box{   margin:0 auto; margin-top:340px;}*/

}


@media screen and (max-width:780px) {
/* .form-right-box{  margin:0 auto; margin-top:320px;}*/
 .main-wrapper h3{ font-size:22px;}
 .incrediblefeatures ul li {
  width: 77.33%;
 }
 .incrediblefeatures ul li{
  background: none;
 }
 .incrediblefeatures ul li {
  width: 98%;
  padding-left: 1% !important;
  padding-right: 1% !important;
 }
 .maincontentdiv h2 {
   min-height: inherit;
 }
 .incrediblefeatures ul li {
   min-height: inherit;
 }
}

@media screen and (max-width:720px) {

 .box-div-wrapper .div-box{ margin:0 auto; margin-bottom:20px; float:none;}

 #spach-div{ margin-left:0; margin:0 auto;}
}


@media screen and (max-width:696px) {
/* .form-right-box{   margin:0 auto; margin-top:300px;}*/

}



@media screen and (max-width:660px) {
/* .form-right-box{   margin:0 auto; margin-top:280px;}*/

 .beto-contain .contain-text{ width:100%;}

 .beto-contain{ background-image:none; padding-bottom:2px;}

 .stev-contain{ background-image:none; padding-bottom:2px;}

}


@media screen and (max-width:630px) {
/* .form-right-box{  margin:0 auto; margin-top:270px;}*/
 .main-wrapper h1{ font-size:18px; line-height:20px;}
 .main-wrapper h2{ font-size:15px; padding:10px 0;}
 .main-wrapper h3{ font-size:16px;}

 .text-body-contain h2{ font-family:Arial, Helvetica, sans-serif; font-size:18px!important; color:#2b3a4a!important; padding:0; margin:0;}

 .inner-body h2{ font-size:18px; line-height:22px;}
}


@media screen and (max-width:600px) {
/* .form-right-box{   margin:0 auto; margin-top:250px;}*/

 .contact-map{ width:100%; height:288px;}
 }


@media screen and (max-width:560px) {
/* .form-right-box{ margin:0 auto; margin-top:230px;}*/
 .icon-div-contain ul li {
  width: 47%;
 }
}

@media screen and (max-width:500px) {
/* .form-right-box{ margin:0 auto; margin-top:200px;}*/

 .contact-map{ width:100%; height:250px;}

 }

@media screen and (max-width:430px) {
/* .form-right-box{   margin:0 auto; margin-top:190px;}*/
}


@media screen and (max-width:400px) {
/* .form-right-box{ width:100%;  margin:0 auto; margin-top:180px;}*/

 .contact-map{ width:100%; height:220px;}

 .form-contain {width:90%;  margin:0 auto;}
 .form-contain .top-heding{ background-image:none; background-color:#b90000; border-radius:5px 5px 0 0;  width:100%; height:auto; font-family:Arial, Helvetica, sans-serif; font-size:30px; color:#fff; line-height:34px; text-align:center; padding:20px 0 ; box-shadow:5px 5px 20px #111 inset;}

/* .form-contain .form-body{ background-image:none; background-color:#ebebeb; width:100%; overflow:hidden;  box-shadow:5px 5px 20px #b7b7b7 inset; padding-bottom:25px;  border-radius:0 0 20px 20px ;}*/

 .form-contain .form-bottom{ display:none;}

 .form-contain .error{ width:90%;}
 .form-contain .input1{ width:90%;}
 .form-contain .input2{ width:90%;}
 .form-contain .input3{ width:95%;}

 .form-contain .btn{ width: 245px; background-size: 100%; height: 70px;}
 .form-contain .form-body{ width: 100%;}

}


@media screen and (max-width:380px) {
/* .form-right-box{ width:100%;  margin:0 auto; margin-top:160px;}*/

}

@media screen and (max-width:340px) {/*
 .form-right-box {
  width: 100%;
  margin: 0 auto;
  margin-top: 150px;
 }*/

 .beto-contain .contain-text .btn1 {
  width: 100%;
 }

 .stev-contain .contain-text2 .btn2 {
  width: 100%;
 }
}


@media screen and (max-width:320px) {
/* .form-right-box{ width:100%;  margin:0 auto; margin-top:140px;}*/

 .footer-div .footer-logo{ width:90%; float:none; margin:0 auto;}

}



@media screen and (max-width:600px) {

 .top-right-part{ width:100%; margin-top: 0px;}
 .top-menu{ width:100%;}

 .text-body-contain{ background:url(../images/text-body2.png) no-repeat top center; background-size:320px; padding-top:180px; width:100%; height:auto; margin:35px 0;  }


}



@media screen and (max-width:420px) {

 .logo{ width:80%; }

 .text-body-contain{ background:url(../images/text-body2.png) no-repeat top center; background-size:220px; padding-top:140px; width:100%; height:auto; margin:35px 0;  }
 .additional-body h6{ font-size:34px; line-height:40px;}

 .bottom-btn{ width:100%;}
}

