@font-face {
    font-family:'OpenSans-Bold';
    src: url('../fonts/OpenSans-Bold_gdi.eot');
    src: url('../fonts/OpenSans-Bold_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Bold_gdi.woff') format('woff'), url('../fonts/OpenSans-Bold_gdi.ttf') format('truetype'), url('../fonts/OpenSans-Bold_gdi.svg#OpenSans-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-25CA;
}
@font-face {
    font-family:'OpenSans-Regular';
    src: url('../fonts/OpenSans_gdi.eot');
    src: url('../fonts/OpenSans_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans_gdi.woff') format('woff'), url('../fonts/OpenSans_gdi.ttf') format('truetype'), url('../fonts/OpenSans_gdi.svg#OpenSans-Regular') format('svg');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-25CA;
}
@font-face {
    font-family:'OpenSans-Semibold';
    src: url('../fonts/OpenSans-Semibold_gdi.eot');
    src: url('../fonts/OpenSans-Semibold_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Semibold_gdi.woff') format('woff'), url('../fonts/OpenSans-Semibold_gdi.ttf') format('truetype'), url('../fonts/OpenSans-Semibold_gdi.svg#OpenSans-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-25CA;
}

body {
    padding:0;
    margin:0;
    background:#efefef;
    overflow-x:hidden;
    font-family:Arial, Helvetica, sans-serif;
}
* {
    padding:0;
    margin:0;
    text-decoration:none;
    list-style:none;
}
a {
    text-decoration:none;
}
a:hover {
    text-decoration:none;
    outline:none;
}
a:visit {
    text-decoration:none;
    outline:none;
}
a:focus {
    text-decoration:none;
    outline:none;
}
.clear {
    clear:both;
    height:0px;
}

form{ margin:0px;}
p{ margin:0; padding:0;}

.container-fluid{ margin-left:0px; margin-right:0px; padding-left:0px; padding-right:0px;  }

.container{padding-left:0px; padding-right:0px;}

.row{ margin-left:0px; margin-right:0px; padding-left:0px; padding-right:0px;}

.login_bg{ background:url(../images/homeblock1_img1.jpg) no-repeat; background-size:cover;  width:100%; height:100vh;}
.login_bg table,.login_bg td{ height:100%;}

.login_wrapper{


    background: rgba(12,11,9,1);
    background: -moz-linear-gradient(top, rgba(12,11,9,1) 0%, rgba(10,46,59,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(12,11,9,1)), color-stop(100%, rgba(10,46,59,1)));
    background: -webkit-linear-gradient(top, rgba(12,11,9,1) 0%, rgba(10,46,59,1) 100%);
    background: -o-linear-gradient(top, rgba(12,11,9,1) 0%, rgba(10,46,59,1) 100%);
    background: -ms-linear-gradient(top, rgba(12,11,9,1) 0%, rgba(10,46,59,1) 100%);
    background: linear-gradient(to bottom, rgba(12,11,9,1) 0%, rgba(10,46,59,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0c0b09', endColorstr='#0a2e3b', GradientType=0 );


    border:solid 1px #356b97; width:880px; margin:25px auto; padding:25px; border-radius:5px; box-shadow:0 0 5px #fff;}


.login_wrapper h2{ margin:0; padding:22px 0 10px 0; text-transform:uppercase; font-size:30px; color:#fff;   font-family:'OpenSans-Semibold'; text-align:center;}

.login_wrapper h3{ margin:0; padding:0 0 10px 0; text-transform:uppercase; font-size:20px; color:#ffff01;   font-family:'OpenSans-Semibold'; text-align:center;}

.login_formbox{ width:600px; margin:0 auto; margin-top:25px;}

.login_formbox label{text-transform:uppercase; font-size:16px; color:#fff;   font-family:'OpenSans-Semibold';}

.login_formbox .form-group{ padding-bottom:10px;}

.login_formbox input[type="text"]{ width:96%; height:45px; padding:0 2%; border-radius:0px; box-shadow:none; background:#e1e5e7 ; border:solid 1px #fff; color:#000; font-size:14px;}

.login_formbox .loginbtn{ width:180px; display:block; margin:0; cursor:pointer; border-radius:0px; float:left;
    background: rgba(61,60,61,1);
    background: -moz-linear-gradient(top, rgba(61,60,61,1) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(61,60,61,1)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(61,60,61,1) 0%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(61,60,61,1) 0%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(61,60,61,1) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(61,60,61,1) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3d3c3d', endColorstr='#000000', GradientType=0 ); font-family:'OpenSans-Semibold'; font-size:22px; color:#fff; text-transform:uppercase; border:none; padding:15px 5px; border-radius:4px;
}

.fpassword{ display:block; float:right; width:120px; font-family:'OpenSans-Semibold'; color:#ffff01!important; text-transform:capitalize; font-size:14px; margin:20px 0 0 0;}
.fpassword:hover{ text-decoration:underline}

.dashboard_body{ background:#eeeeee;min-height:100vh;}

.dashboard_wrappertop{ width:100%; background:#000;  padding:20px;  border-bottom: 1px solid #595a5a;}

.dashboard_wrappertop img{ width:250px;}

.dashboard_left{  background:#a30101;  padding:0 0 10px 0;  width:18%; float:left; height:100vh;  }


.dashboard_left h2{ margin:0; padding:10px;   font-size:20px; color:#fff;   font-family:'OpenSans-Semibold'; text-align:center; text-align:left;}

.dashboard_left h2 span{ color:#ffff01;}

.dashboard_left ul{ margin: 0; padding:0; border-top:solid 1px #08132c; }

.dashboard_left ul li{ margin:0;  border-bottom:solid 1px #fff;

    background: rgba(56,55,56,1);
    background: -moz-linear-gradient(top, rgba(56,55,56,1) 0%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(56,55,56,1)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(56,55,56,1) 0%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(56,55,56,1) 0%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(56,55,56,1) 0%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(56,55,56,1) 0%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#383738', endColorstr='#000000', GradientType=0 );


    font-family:'OpenSans-Regular'; font-size:14px;   color:#fff;
}

.dashboard_left ul li a{ color:#fff; display:block; padding:10px;}

.dashboard_left ul li:hover{color:#fff;
    background:#000;

}
.dashboard_left ul li .active{color:#fff; }


.dashboard_left ul li ul{ display: none; background: #333;}
.dashboard_left ul li ul li{background: #333;  border-bottom:solid 1px #ccc;}

.dashboard_left ul li ul li:hover{ background: #999999;}

.dashboard_left ul li:hover ul{ display: block;}


.dashboard_right{  background:#efefef;   padding:10px; min-height:100vh; width:81%; float:left; border-left:solid 5px #c8c7c7;}


.dashboard1_div1{ margin:20px 0;}

.dashboard1_div1 h4{margin:0 0 25px 0; padding:10px 0; text-transform:uppercase; font-size:20px; color:#a30101;   font-family:'OpenSans-Semibold'; text-transform:uppercase; border-bottom:solid 1px #a30101 ;}

.dashboard1_div1 th{ font-family:'OpenSans-Semibold'; text-transform:uppercase; font-size:14px; color:#fff; background:#000; padding:10px; text-align:left; border:solid 1px #c8c2b3;}

.dashboard1_div1 td{ font-family:'OpenSans-Semibold'; text-transform:uppercase; font-size:12px; color:#333;  padding:10px; text-align:left; border:solid 1px #c8c2b3;}

.dashboard1_div1 td:nth-of-type(4){ width: 26%;}

.table-responsive{ border: none!important;}

.adminserchdiv{ display: inline-block; float: left; padding-top: 4px;}
.adadminlink{ color: #fff!important; float: right; background: rgba(238,4,47,1);
    background: -moz-linear-gradient(top, rgba(238,4,47,1) 0%, rgba(225,1,46,1) 48%, rgba(198,1,30,1) 50%, rgba(160,2,20,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(238,4,47,1)), color-stop(48%, rgba(225,1,46,1)), color-stop(50%, rgba(198,1,30,1)), color-stop(100%, rgba(160,2,20,1)));
    background: -webkit-linear-gradient(top, rgba(238,4,47,1) 0%, rgba(225,1,46,1) 48%, rgba(198,1,30,1) 50%, rgba(160,2,20,1) 100%);
    background: -o-linear-gradient(top, rgba(238,4,47,1) 0%, rgba(225,1,46,1) 48%, rgba(198,1,30,1) 50%, rgba(160,2,20,1) 100%);
    background: -ms-linear-gradient(top, rgba(238,4,47,1) 0%, rgba(225,1,46,1) 48%, rgba(198,1,30,1) 50%, rgba(160,2,20,1) 100%);
    background: linear-gradient(to bottom, rgba(238,4,47,1) 0%, rgba(225,1,46,1) 48%, rgba(198,1,30,1) 50%, rgba(160,2,20,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee042f', endColorstr='#a00214', GradientType=0 );  display: inline-block; padding: 8px; border-radius: 4px;}



.dashboard1form{ width:80%; margin:0 auto; border:solid 1px #c0c0c0; padding:2%; background: #fff;}

.dashboard1_div1 td a{background: rgba(238,4,47,1);
    background: -moz-linear-gradient(top, rgba(238,4,47,1) 0%, rgba(225,1,46,1) 48%, rgba(198,1,30,1) 50%, rgba(160,2,20,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(238,4,47,1)), color-stop(48%, rgba(225,1,46,1)), color-stop(50%, rgba(198,1,30,1)), color-stop(100%, rgba(160,2,20,1)));
    background: -webkit-linear-gradient(top, rgba(238,4,47,1) 0%, rgba(225,1,46,1) 48%, rgba(198,1,30,1) 50%, rgba(160,2,20,1) 100%);
    background: -o-linear-gradient(top, rgba(238,4,47,1) 0%, rgba(225,1,46,1) 48%, rgba(198,1,30,1) 50%, rgba(160,2,20,1) 100%);
    background: -ms-linear-gradient(top, rgba(238,4,47,1) 0%, rgba(225,1,46,1) 48%, rgba(198,1,30,1) 50%, rgba(160,2,20,1) 100%);
    background: linear-gradient(to bottom, rgba(238,4,47,1) 0%, rgba(225,1,46,1) 48%, rgba(198,1,30,1) 50%, rgba(160,2,20,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee042f', endColorstr='#a00214', GradientType=0 );  color: #fff; display: inline-block; padding:8px; border-radius: 4px; width: 65px; text-align: center; margin: 2px 0;}

.dashboard1form .has-error{ color: #ff0000; display: block;}
.has-error {
    color: #ff0000;
    display: block;
}
.dashboard1form label{ text-transform:uppercase; font-size:16px; color:#404040;   font-family:'OpenSans-Semibold'; display: block; padding-bottom: 10px;}

.dashboard1form input[type="text"]{ width:100%; height:45px; padding:0 2%; border-radius:0px; box-shadow:none; background:#f6f6f6; border:solid 1px #c0c0c0; color:#333; font-size:14px; margin-bottom: 10px;}
.dashboard1form select{ width:100%; height:45px; padding:0 2%; border-radius:0px; box-shadow:none; background:#f6f6f6; border:solid 1px #c0c0c0; color:#333; font-size:14px;  margin-bottom: 10px;}

.dashboard1form textarea{ width:100%; height:145px; padding:10px 2%; border-radius:0px; box-shadow:none; background:#f6f6f6; border:solid 1px #c0c0c0; color:#333; font-size:14px; resize:none;  margin-bottom: 10px;}

.dashboard1form input[type="password"]{ width:96%; height:45px; padding:0 2%; border-radius:0px; box-shadow:none; background:#f6f6f6; border:solid 1px #c0c0c0; color:#000; font-size:14px; margin-bottom: 10px;}


.dashboard1form ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color:#333; opacity: 10;
}
.dashboard1form ::-moz-placeholder { /* Firefox 19+ */
    color:#333; opacity: 10;
}
.dashboard1form :-ms-input-placeholder { /* IE 10+ */
    color:#333; opacity: 10;
}
.dashboard1form :-moz-placeholder { /* Firefox 18- */
    color:#333; opacity: 10;
}

.loginbtn2{ width:auto; display:block; margin:10px 0;  margin-top: 0px; cursor:pointer; border-radius:0px; margin-bottom:0px; outline: none;


    background: rgba(238,4,47,1);
    background: -moz-linear-gradient(top, rgba(238,4,47,1) 0%, rgba(225,1,46,1) 48%, rgba(198,1,30,1) 50%, rgba(160,2,20,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(238,4,47,1)), color-stop(48%, rgba(225,1,46,1)), color-stop(50%, rgba(198,1,30,1)), color-stop(100%, rgba(160,2,20,1)));
    background: -webkit-linear-gradient(top, rgba(238,4,47,1) 0%, rgba(225,1,46,1) 48%, rgba(198,1,30,1) 50%, rgba(160,2,20,1) 100%);
    background: -o-linear-gradient(top, rgba(238,4,47,1) 0%, rgba(225,1,46,1) 48%, rgba(198,1,30,1) 50%, rgba(160,2,20,1) 100%);
    background: -ms-linear-gradient(top, rgba(238,4,47,1) 0%, rgba(225,1,46,1) 48%, rgba(198,1,30,1) 50%, rgba(160,2,20,1) 100%);
    background: linear-gradient(to bottom, rgba(238,4,47,1) 0%, rgba(225,1,46,1) 48%, rgba(198,1,30,1) 50%, rgba(160,2,20,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee042f', endColorstr='#a00214', GradientType=0 );
    font-family:'OpenSans-Semibold'; font-size:22px; color:#fff; text-transform:uppercase; border:none; padding:5px 20px!important; ; border:solid 4px #e0e2e7;  box-shadow: 0 0 2px #9c9c9c; border-radius:10px; float:none;}


.dbblog{ width:22.5%; margin:1%; float:left; border-radius:5px;}

.dbblog td{ border:none;}

.dbblog .fa{ font-size:55px;  color:#fff;}

.dbblog  td{ text-align:center;}

.dbblog h6{ text-align:right;  font-family:'OpenSans-Semibold'; font-size:30px; padding:10px 0; color:#fff;}
.dbblog span{ text-align:right;  font-family:'OpenSans-Semibold'; font-size:12px; display:block; color:#fff;}



.linktd{ background:#fff; border-radius:0 0 5px 5px;}

.linktd a{ font-size:12px!important; }
.linktd .fa{ font-size:14px!important; margin-left:8px;}



.dblog1{ background:#337ab7; border:solid 1px #337ab7;}
.dblog1 .linktd a{ color:#337ab7!important;}
.dblog1 .linktd .fa{ color:#337ab7!important;}


.dblog2{ background:#5cb85c; border:solid 1px #5cb85c;}

.dblog2 .linktd a{ color:#5cb85c!important;}
.dblog2 .linktd .fa{ color:#5cb85c!important;}

.dblog3{ background:#f0ad4e; border:solid 1px #f0ad4e;}

.dblog3 .linktd  a{ color:#f0ad4e!important;}
.dblog3 .linktd  .fa{ color:#f0ad4e!important;}

.dblog4{ background:#d9534f; border:solid 1px #d9534f;}

.dblog4 .linktd  a{ color:#d9534f!important;}
.dblog4 .linktd  .fa{ color:#d9534f!important;}



.dblog5{ background:#df577d; border:solid 1px #df577d;}

.dblog5 .linktd  a{ color:#df577d!important;}
.dblog5 .linktd  .fa{ color:#df577d!important;}


.dblog6{ background:#0eadd4; border:solid 1px #0eadd4;}

.dblog6 .linktd  a{ color:#0eadd4!important;}
.dblog6 .linktd  .fa{ color:#0eadd4!important;}


.dblog7{ background:#78818a; border:solid 1px #78818a;}

.dblog7 .linktd  a{ color:#78818a!important;}
.dblog7 .linktd  .fa{ color:#78818a!important;}

.dblog8{ background:#9e4b9d; border:solid 1px #9e4b9d;}

.dblog8 .linktd  a{ color:#9e4b9d!important;}
.dblog8 .linktd  .fa{ color:#9e4b9d!important;}



/* New Theme HTML*/



.login_bgnewwrapper{ width:100%; height:100vh; background:url(../images/new_adminbg.jpg) left top;}

.login_bgnewwrapper table{ width:100%; height:100%;}

.login_bgnewwrapper td{ width:100%; height:100%; vertical-align:middle;}

.login_wrapper_body{ background: #ffffff none repeat scroll 0 0;
    border-radius:0px;
    box-shadow: 0 0 2px #9c9c9c;
    padding: 0;
    width: 480px; margin:0 auto; margin-top:10px;}

.login_wrapper_body .login_heading{
    background: rgba(211,7,7,1);
    background: -moz-linear-gradient(top, rgba(211,7,7,1) 0%, rgba(160,0,0,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(211,7,7,1)), color-stop(100%, rgba(160,0,0,1)));
    background: -webkit-linear-gradient(top, rgba(211,7,7,1) 0%, rgba(160,0,0,1) 100%);
    background: -o-linear-gradient(top, rgba(211,7,7,1) 0%, rgba(160,0,0,1) 100%);
    background: -ms-linear-gradient(top, rgba(211,7,7,1) 0%, rgba(160,0,0,1) 100%);
    background: linear-gradient(to bottom, rgba(211,7,7,1) 0%, rgba(160,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d30707', endColorstr='#a00000', GradientType=0 );
}

.login_wrapper_body .login_heading .login_heading_sub{ background:url(../images/new_login_headingbg.png) no-repeat left top; background-size:cover; text-align:center; padding:10px;}

.login_wrapper_body .login_heading .login_heading_sub h2{ margin:0; padding:0 0 2px 0;  font-family: Arial,Helvetica,sans-serif; text-transform:uppercase; color:#fff;
    font-size:35px;}

.login_wrapper_body .login_heading .login_heading_sub h3{ margin:0; padding:0;  font-family: Arial,Helvetica,sans-serif; text-transform:uppercase; color:#fff;
    font-size:20px;}


.loginlogo{ display:block; margin:20px auto;   box-shadow: 0 0 2px #9c9c9c; margin-bottom:10px;}

.loginlockicon{ display:block; margin:0 auto; width:80px; height:80px; background:#fff; border-radius:100px; box-shadow: 0 0 2px #9c9c9c; padding:6px; line-height:80px;}

.loginlockicon img{ display:block; margin:0 auto; margin-top:0px;}

.login_wrapper_body  label{ display:block; width:100%; margin:0; padding:20px 0 10px 0; font-family: Arial,Helvetica,sans-serif; text-transform:uppercase; color:#dc012a;
    font-size:18px!important; font-weight: normal!important;}

.login_formbox_wrapper{ width:auto; padding:0 20px 20px 20px;}

.login_formbox_wrapper .inputtext{background: #eeeff2 none repeat scroll 0 0;
    border: 1px solid #b6c0c9;
    border-radius: 0;
    color: #5f5f5f;
    display: block;
    font-size: 14px;
    height: 40px;
    margin: 0 auto;
    padding: 0 2%;
    width: 100%;}

.login_formbox_wrapper  .errortext{ font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#ff0000; display:block; padding:5px 0 0 0;}


.loginbtnnew{
    background: rgba(238,4,47,1);
    background: -moz-linear-gradient(top, rgba(238,4,47,1) 0%, rgba(225,1,46,1) 48%, rgba(198,1,30,1) 50%, rgba(160,2,20,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(238,4,47,1)), color-stop(48%, rgba(225,1,46,1)), color-stop(50%, rgba(198,1,30,1)), color-stop(100%, rgba(160,2,20,1)));
    background: -webkit-linear-gradient(top, rgba(238,4,47,1) 0%, rgba(225,1,46,1) 48%, rgba(198,1,30,1) 50%, rgba(160,2,20,1) 100%);
    background: -o-linear-gradient(top, rgba(238,4,47,1) 0%, rgba(225,1,46,1) 48%, rgba(198,1,30,1) 50%, rgba(160,2,20,1) 100%);
    background: -ms-linear-gradient(top, rgba(238,4,47,1) 0%, rgba(225,1,46,1) 48%, rgba(198,1,30,1) 50%, rgba(160,2,20,1) 100%);
    background: linear-gradient(to bottom, rgba(238,4,47,1) 0%, rgba(225,1,46,1) 48%, rgba(198,1,30,1) 50%, rgba(160,2,20,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee042f', endColorstr='#a00214', GradientType=0 ); display:block; width:298px; height:auto; display:block; margin:20px auto; cursor:pointer; border:solid 8px #e0e2e7;  box-shadow: 0 0 2px #9c9c9c; border-radius:10px!important; font-size:26px!important; color:#fff;  font-family:'OpenSans-Bold'; text-transform:capitalize; padding:10px; text-shadow:2px 0px 0px #000; margin-top: 25px!important;
}

.newforgotpassword{ width:100%; text-align:center; color:#333!important; padding:0; font-size:16px;}
.newforgotpassword a{ cursor:pointer; color:#333!important;}
.newforgotpassword a:hover{ text-decoration:underline;}



.dashboard1form img{ width: 100px; margin-bottom: 5px; }

.dashboard1form input[type="button"]{ background: rgba(238,4,47,1);
    background: -moz-linear-gradient(top, rgba(238,4,47,1) 0%, rgba(225,1,46,1) 48%, rgba(198,1,30,1) 50%, rgba(160,2,20,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(238,4,47,1)), color-stop(48%, rgba(225,1,46,1)), color-stop(50%, rgba(198,1,30,1)), color-stop(100%, rgba(160,2,20,1)));
    background: -webkit-linear-gradient(top, rgba(238,4,47,1) 0%, rgba(225,1,46,1) 48%, rgba(198,1,30,1) 50%, rgba(160,2,20,1) 100%);
    background: -o-linear-gradient(top, rgba(238,4,47,1) 0%, rgba(225,1,46,1) 48%, rgba(198,1,30,1) 50%, rgba(160,2,20,1) 100%);
    background: -ms-linear-gradient(top, rgba(238,4,47,1) 0%, rgba(225,1,46,1) 48%, rgba(198,1,30,1) 50%, rgba(160,2,20,1) 100%);
    background: linear-gradient(to bottom, rgba(238,4,47,1) 0%, rgba(225,1,46,1) 48%, rgba(198,1,30,1) 50%, rgba(160,2,20,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ee042f', endColorstr='#a00214', GradientType=0 ); padding: 5px; border: none; color:#fff;  font-family:'OpenSans-Bold'; text-transform:capitalize; margin: 5px;}

@media(max-width:500px){

    .login_wrapper_body{ width:90%;}

    .loginbtnnew{ width:100%;}
}



.sharelinkstable td:nth-child(1){ width:15%!important; text-align: left!important; vertical-align: middle!important; padding:10px 0!important;}
.sharelinkstable td:nth-child(2){ width: 10%!important; text-align: left!important; vertical-align: middle!important; padding: 0px!important;    }

.sharelinkstable td:nth-child(3){ width: 50%!important; text-align: left!important; vertical-align: middle!important; padding: 0 20px!important;    }
.sharelinkstable td:nth-child(4){ width: 25%!important; text-align: left!important; vertical-align: middle!important; padding: 0 10px!important;}




.landing_img{ width: 150px; border: solid 4px #fff;}

.sharelinkstable h6{ margin: 0; padding: 0;  color: #fff;
    font-family: 'open_sansregular';
    font-size: 18px; display: inline-block; float: left;}


.landing_link{ width: 100%; background: #ccc; padding:5px 10px 6px 10px; display: inline-block; margin: 0;    color: #333;
    font-family: 'open_sansregular'; float: left;
    font-size: 16px; word-break: break-all; }

.landing_link a{ margin: 0; padding: 0;      color: #333;
    font-family: 'open_sansregular';
    font-size: 16px;}

.landing_link a:hover{      text-decoration: none; color: #333; }


.cusactivediv2 .newinput3 {
    float: right; text-transform: capitalize;

    display: block;
    padding: 5px 10px;
    border: none;
    font-size: 14px;
    outline: none!important;
    margin-bottom: 0;

    cursor: pointer;

    background: rgba(237,3,46,1)!important;
    background: -moz-linear-gradient(top, rgba(237,3,46,1) 0%, rgba(171,5,38,1) 100%)!important;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(237,3,46,1)), color-stop(100%, rgba(171,5,38,1)))!important;
    background: -webkit-linear-gradient(top, rgba(237,3,46,1) 0%, rgba(171,5,38,1) 100%)!important;
    background: -o-linear-gradient(top, rgba(237,3,46,1) 0%, rgba(171,5,38,1) 100%)!important;
    background: -ms-linear-gradient(top, rgba(237,3,46,1) 0%, rgba(171,5,38,1) 100%)!important;
    background: linear-gradient(to bottom, rgba(237,3,46,1) 0%, rgba(171,5,38,1) 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed032e', endColorstr='#ab0526', GradientType=0 )!important;
}


.cusactivediv2 .tdpagelink {
    float: right; text-transform: capitalize;

    display: block;
    padding: 5px 10px;
    border: none;
    font-size: 14px;
    outline: none!important;
    margin: 0 5px;

    cursor: pointer;

    background: rgba(237,3,46,1)!important;
    background: -moz-linear-gradient(top, rgba(237,3,46,1) 0%, rgba(171,5,38,1) 100%)!important;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(237,3,46,1)), color-stop(100%, rgba(171,5,38,1)))!important;
    background: -webkit-linear-gradient(top, rgba(237,3,46,1) 0%, rgba(171,5,38,1) 100%)!important;
    background: -o-linear-gradient(top, rgba(237,3,46,1) 0%, rgba(171,5,38,1) 100%)!important;
    background: -ms-linear-gradient(top, rgba(237,3,46,1) 0%, rgba(171,5,38,1) 100%)!important;
    background: linear-gradient(to bottom, rgba(237,3,46,1) 0%, rgba(171,5,38,1) 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed032e', endColorstr='#ab0526', GradientType=0 )!important; color: #fff;
}


.facebook_conwrapper{ width: 100%;}

.facebook_conwrapper ul{ margin: 0; padding: 0;}

.facebook_conwrapper ul li{ list-style: none; float: left; width: 49%; border: solid 1px #ccc; margin: 5px 0.5%; padding: 10px; text-align: center; height: 200px;}

.facebook_conwrapper ul li .fb_img{ width: 58px; height: 58px; border: solid 1px #ccc; padding: 4px; margin: 0px auto; overflow: hidden; }

.facebook_conwrapper ul li .fb_img div{ width: 50px; height: 50px; display: table-cell; text-align: center; vertical-align: middle;}

.facebook_conwrapper ul li .fb_img div img{ width: 100%; max-width: 100%;}

.facebook_conwrapper ul li h6{ margin: 0px; padding: 10px 10px 0 10px;     font-family: 'open_sanssemibold';
    font-size:16px;
    color: #000;  }


.facebook_conwrapper ul li p{ margin: 0px; padding:6px 10px 10px 10px;        font-family: 'open_sansregular';
    font-size:14px;
    color: #333; }

.facebook_conwrapper ul li input[type="button"]{  text-transform: capitalize;

    display: block;
    padding: 5px 10px;
    border: none;
    font-size: 14px;
    outline: none!important;
    margin: 0 auto;

    cursor: pointer;

    background: rgba(237,3,46,1)!important;
    background: -moz-linear-gradient(top, rgba(237,3,46,1) 0%, rgba(171,5,38,1) 100%)!important;
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(237,3,46,1)), color-stop(100%, rgba(171,5,38,1)))!important;
    background: -webkit-linear-gradient(top, rgba(237,3,46,1) 0%, rgba(171,5,38,1) 100%)!important;
    background: -o-linear-gradient(top, rgba(237,3,46,1) 0%, rgba(171,5,38,1) 100%)!important;
    background: -ms-linear-gradient(top, rgba(237,3,46,1) 0%, rgba(171,5,38,1) 100%)!important;
    background: linear-gradient(to bottom, rgba(237,3,46,1) 0%, rgba(171,5,38,1) 100%)!important;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ed032e', endColorstr='#ab0526', GradientType=0 )!important; color: #fff;}


