@font-face {
 font-family:'OpenSans-Bold';
 src: url('../fonts/OpenSans-Bold_gdi.eot');
 src: url('../fonts/OpenSans-Bold_gdi.eot?#iefix') format('embedded-opentype'), url('../fonts/OpenSans-Bold_gdi.woff') format('woff'), url('../fonts/OpenSans-Bold_gdi.ttf') format('truetype'), url('../fonts/OpenSans-Bold_gdi.svg#OpenSans-Bold') format('svg');
 font-weight: 700;
 font-style: normal;
 font-stretch: normal;
 unicode-range: U+0020-25CA;
}



@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/opensans-semibold-webfont.eot');
    src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-semibold-webfont.woff2') format('woff2'),
    url('../fonts/opensans-semibold-webfont.woff') format('woff'),
    url('../fonts/opensans-semibold-webfont.ttf') format('truetype'),
    url('../fonts/opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
    url('../fonts/opensans-regular-webfont.woff') format('woff'),
    url('../fonts/opensans-regular-webfont.ttf') format('truetype'),
    url('../fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


html, body{height:100%;}
body{padding: 0px; margin: 0px;}
*{padding: 0px; margin: 0px;}
a{text-decoration: none; outline: none; cursor: pointer;}
a:hover{text-decoration: none; outline: none; color: inherit; cursor: pointer;}
a:visited{text-decoration: none; outline: none; color: inherit;}
a:focus{text-decoration: none; outline: none; color: inherit;}
ul,li{list-style: none;}
p{padding: 0px; margin: 0px;}

h1,h2,h3,h4.h5,h6{ margin: 0px; padding: 0px;}

.container-fluid{ padding-left:0!important; padding-right:0!important; }

.container{ padding-left:0!important; padding-right:0!important;  }
.row{ padding-left:0!important; padding-right:0!important; margin-left:0!important; margin-right:0!important;  }






/*---------------------------*/


.landing_top1{ width:100%; background:#000000; padding:15px 0; border-bottom:solid 2px #c61203;}

.landing_top1 .landing_logo1{ width:auto; display:inline-block; float:left;}

.landing_top1 h2{ display:inline-block; float:right; text-align:right; text-transform:uppercase; color:#fff;   font-family: 'open_sansregular'; font-size:22px; padding:0 0 0 0;}
.landing_top1 h2 span{    color:#c90000; font-size: 36px;}
.landing_top1 h2 a{ color:#c90000;}





.landing_banner{ background: #000 url(../images/landing_banercar2.jpg) no-repeat left top; width:100%; }


.landing_banner .col-lg-8{ position:relative; height:639px;   margin:0!important; padding:0!important;}

.landing_bannertext{ position:absolute; top:50%; left:50%; transform: translate(-50%, -50%); width:100%;} 

.landing_bannertext h2{ margin:0; padding:0px; font-family:'OpenSans-Bold'; text-transform:uppercase; color:#fff; font-size:60px;}

.landing_bannertext ul{ margin:0; padding:0;}

.landing_bannertext ul li{ list-style:none; background:url(../images/tick_icon1.png) no-repeat left center;  font-family: 'open_sansregular';  font-size:25px; color:#fff; text-transform:uppercase; padding:5px 0 5px 30px; background-size:20px; }



.landing_banner .col-lg-4{ position:relative; height:639px; padding:0px;}

.landing_bannerform{position:absolute; top:0; right:0%; transform: translate(0%, 0%); width:338px; border-radius:5px;  }

.landingformbody{background:#fff; border-radius:0 0 5px 5px;}


.landingtopheding{background: rgba(0, 0, 0, 0) url("../images/new_formheader.jpg") no-repeat scroll 0 0;
    color: #fff;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 40px;
    height: 91px;
    line-height: 34px;
    padding: 28px 5px;
    text-align: center;
    width: 338px; border-radius:0; text-transform:uppercase; }
	
	
	.landing_bannerform form{ padding:20px;}
	
.landing_bannerform h3{ text-align:center; padding:20px 0 0 0; font-family: 'open_sanssemibold';  color:#c5030b; font-size:24px;}

.landing_bannerform input[type="text"]{ background: #eeeff2 none repeat scroll 0 0;
    border: 1px solid #b6c0c9;
    border-radius: 0;
    color: #5f5f5f;
    display: block;
    font-size: 15px;
    height: 40px;
    margin: 6px auto;
    padding: 5px;
    width: 304px;}



.landing_bannerform ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
     color: #5f5f5f; opacity:10;
}
.landing_bannerform ::-moz-placeholder { /* Firefox 19+ */
color: #5f5f5f; opacity:10;
}
.landing_bannerform :-ms-input-placeholder { /* IE 10+ */
color: #5f5f5f; opacity:10;
}
.landing_bannerform :-moz-placeholder { /* Firefox 18- */
color: #5f5f5f; opacity:10;
}



.lformbtn{
background: rgba(239,4,47,1);
background: -moz-linear-gradient(top, rgba(239,4,47,1) 0%, rgba(224,1,46,1) 50%, rgba(204,0,34,1) 51%, rgba(160,2,18,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(239,4,47,1)), color-stop(50%, rgba(224,1,46,1)), color-stop(51%, rgba(204,0,34,1)), color-stop(100%, rgba(160,2,18,1)));
background: -webkit-linear-gradient(top, rgba(239,4,47,1) 0%, rgba(224,1,46,1) 50%, rgba(204,0,34,1) 51%, rgba(160,2,18,1) 100%);
background: -o-linear-gradient(top, rgba(239,4,47,1) 0%, rgba(224,1,46,1) 50%, rgba(204,0,34,1) 51%, rgba(160,2,18,1) 100%);
background: -ms-linear-gradient(top, rgba(239,4,47,1) 0%, rgba(224,1,46,1) 50%, rgba(204,0,34,1) 51%, rgba(160,2,18,1) 100%);
background: linear-gradient(to bottom, rgba(239,4,47,1) 0%, rgba(224,1,46,1) 50%, rgba(204,0,34,1) 51%, rgba(160,2,18,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef042f', endColorstr='#a00212', GradientType=0 ); border:solid 5px #dee3e9; border-radius:5px; display:block; width:100%; box-shadow:0 0 2px #888;  font-family:'OpenSans-Bold';
font-size:26px; color:#fff; text-transform:uppercase; padding:10px 0; margin-top:16px!important;  text-shadow:0 0 2px #333;
}



.landing_conblock1{ background:#eeeff2; padding:50px 0; text-align:center;}

.landing_conblock1 h2{ font-family:'OpenSans-Bold'; text-transform:uppercase; color:#c50304; font-size:40px; margin:0; padding:0;}

.landing_conblock1 h3{ font-family: 'open_sanssemibold'; text-transform:uppercase; color:#1b2228; font-size:24px; margin:0; padding:15px 0;}




.landing_conblock1 h4{     font-family: 'open_sansregular'; color:#000100; font-size:18px; margin:0; padding:0; line-height:24px;}


.landing_conblock1 a{background: rgba(239,4,47,1);
background: -moz-linear-gradient(top, rgba(239,4,47,1) 0%, rgba(224,1,46,1) 50%, rgba(204,0,34,1) 51%, rgba(160,2,18,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(239,4,47,1)), color-stop(50%, rgba(224,1,46,1)), color-stop(51%, rgba(204,0,34,1)), color-stop(100%, rgba(160,2,18,1)));
background: -webkit-linear-gradient(top, rgba(239,4,47,1) 0%, rgba(224,1,46,1) 50%, rgba(204,0,34,1) 51%, rgba(160,2,18,1) 100%);
background: -o-linear-gradient(top, rgba(239,4,47,1) 0%, rgba(224,1,46,1) 50%, rgba(204,0,34,1) 51%, rgba(160,2,18,1) 100%);
background: -ms-linear-gradient(top, rgba(239,4,47,1) 0%, rgba(224,1,46,1) 50%, rgba(204,0,34,1) 51%, rgba(160,2,18,1) 100%);
background: linear-gradient(to bottom, rgba(239,4,47,1) 0%, rgba(224,1,46,1) 50%, rgba(204,0,34,1) 51%, rgba(160,2,18,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef042f', endColorstr='#a00212', GradientType=0 );  border-radius:5px;   font-family:'OpenSans-Bold';
font-size:18px; color:#fff; text-transform:uppercase;   text-shadow:0 0 2px #333; padding:10px; overflow:hidden; display:block; width:180px; margin:0 auto; margin-top:15px;}


.landing_conblock2{ background:#fff;}

.landing_conblock2 .col-lg-6{ height:465px;  margin:0!important; padding: 0!important;}







.landing_conblock2 h2{ font-family:'OpenSans-Bold'; text-transform:uppercase; color:#c50304; font-size:40px; margin:0; padding:0;}

.landing_conblock2 h3{ font-family: 'open_sanssemibold'; text-transform:uppercase; color:#1b2228; font-size:24px; margin:0; padding:15px 0;}



.landing_conblock2 h4{     font-family: 'open_sansregular'; color:#000100; font-size:18px; margin:0; padding:0; line-height:24px;}

.landing_conblock2_text{position:absolute; top:50%; left:0%; transform: translate(0%, -50%); padding-left:25px; }

.landing_conblock2_img{position:absolute; top:50%; left:0%; transform: translate(0%, -50%);  }

.landing_conblock2 img{ width:100%;}


.landing_conblock3{ background:#000000; }


.landing_conblock3 .col-lg-4{padding-top:50px; padding-bottom:50px;}

.landing_conblock3 h2{ font-family:'OpenSans-Bold';  color:#fff; font-size:18px!important; margin:0; padding:0 0 15px 0; text-transform:uppercase; font-size:30px; }
.landing_conblock3 p{ margin:0; padding:0; font-family: 'open_sansregular'; color:#fff; font-size:14px;}

.landing_conblock3 label{ margin:0 0 4px 0; padding:0 0 0px 15px; font-family: 'open_sansregular'; color:#fff; font-size:14px; font-weight:normal; background:url(../images/landingbullate.png) no-repeat left center;}

.landing_conblock4  .landing_conblock2_text{position:absolute; top:50%; left:0%; transform: translate(0%, -50%); padding-right:25px; padding-left:0px; }

.landing_conblock3 .col-lg-4:nth-child(2){ border-left:solid 1px #363636;  border-right:solid 1px #363636;}

.landing_conblock3 strong{ font-weight:normal; font-size:18px; text-transform:uppercase; line-height:24px;}

.landing_conblock5{ background:#eeeff2; padding:50px 0; text-align:center;}

.landing_conblock5 h2{font-family: 'open_sansregular'; color:#1e252b; font-size:20px; margin:0; padding:0 0 15px 0; line-height:24px;}






.landing_conblock5 h4{  font-family: 'open_sansregular'; text-transform:capitalize; color:#c50304; font-size:24px; margin:0; padding:0; line-height:24px; text-transform:uppercase;}


.landing_conblock5 a{background: rgba(239,4,47,1);
background: -moz-linear-gradient(top, rgba(239,4,47,1) 0%, rgba(224,1,46,1) 50%, rgba(204,0,34,1) 51%, rgba(160,2,18,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(239,4,47,1)), color-stop(50%, rgba(224,1,46,1)), color-stop(51%, rgba(204,0,34,1)), color-stop(100%, rgba(160,2,18,1)));
background: -webkit-linear-gradient(top, rgba(239,4,47,1) 0%, rgba(224,1,46,1) 50%, rgba(204,0,34,1) 51%, rgba(160,2,18,1) 100%);
background: -o-linear-gradient(top, rgba(239,4,47,1) 0%, rgba(224,1,46,1) 50%, rgba(204,0,34,1) 51%, rgba(160,2,18,1) 100%);
background: -ms-linear-gradient(top, rgba(239,4,47,1) 0%, rgba(224,1,46,1) 50%, rgba(204,0,34,1) 51%, rgba(160,2,18,1) 100%);
background: linear-gradient(to bottom, rgba(239,4,47,1) 0%, rgba(224,1,46,1) 50%, rgba(204,0,34,1) 51%, rgba(160,2,18,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef042f', endColorstr='#a00212', GradientType=0 );  border-radius:5px;   font-family:'OpenSans-Bold';
font-size:18px; color:#fff; text-transform:uppercase;   text-shadow:0 0 2px #333; padding:10px; overflow:hidden; display:block; width:180px; margin:0 auto; margin-top:15px;}


.landingfooter{ background:#000000; padding:25px 0; text-align:center; font-family: 'open_sansregular'; font-size:14px; color:#fff;}

.landing_banercar2{ width:100%;}

.landing_banercar2 img{ width:100%;} 